
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@200&display=swap');

body{
  font-family: 'Barlow', sans-serif;
}

.App {
  text-align: center;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
}



.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding:1em;
}

.App-header  > div{
  margin:0 1em;
  font-weight:600;
  font-size:32px;
  }

.App-body{
  color: #282c34;
  display: flex;
  flex-direction: row;
  font-size:18px;
}

.App-body-filter-panel{
  padding:2em;
  background-color: #E2ECFF;
  min-height: 90vh;
    max-width: 20vw;
}

.App-body-table-panel {
  padding:2em;
  min-height: 375px;
}

.App-pagination {
  margin:0 2em;
}


a{
 font-weight:600;
}
input[type=text] {
  height: 32px;
  -webkit-appearance: none;
  margin: 10px 0;
  width: 100%;
  background: #FFFFFFF;
  border:none;
  font-size:18px;
  font-family: 'Barlow', sans-serif;
  padding:0 .25em;
 color: #282c34;
 font-weight:600;
  border:none;
  border-bottom: 1px solid   #E2ECFF;
  outline: none;
}

input[type=text]:focus, input[type=text]:hover {
  border-bottom: 1px solid  #282c34;
}


input[type=range] {
  height: 32px;
  -webkit-appearance: none;
  margin: 10px 0;
  width: 100%;
  background: #E2ECFF
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 11px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #000000;
  background: #282C34;
  border-radius: 1px;
  border: 0px solid #282C34;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #282C34;
  border: 1px solid #282C34;
  height: 32px;
  width: 32px;
  border-radius: 32px;
  background: #FFFFFF;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -10px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #282C34;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 11px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #000000;
  background: #282C34;
  border-radius: 1px;
  border: 0px solid #282C34;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #282C34;
  border: 1px solid #282C34;
  height: 32px;
  width: 32px;
  border-radius:32px;
  background: #FFFFFF;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 11px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #282C34;
  border: 0px solid #282C34;
  border-radius: 2px;
  box-shadow: 1px 1px 1px #000000;
}
input[type=range]::-ms-fill-upper {
  background: #282C34;
  border: 0px solid #282C34;
  border-radius: 2px;
  box-shadow: 1px 1px 1px #000000;
}
input[type=range]::-ms-thumb {
  margin-top: 1px;
  box-shadow: 1px 1px 1px #282C34;
  border: 1px solid #282C34;
  height: 32px;
  width: 32px;
  border-radius: 32px;
  background: #FFFFFF;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: #282C34;
}
input[type=range]:focus::-ms-fill-upper {
  background: #282C34;
}

.flipswitch {
  position: relative;
  width: 70px;
  top:15px;
}
.flipswitch input[type=checkbox] {
  display: none;
}
.flipswitch-label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  border: 1px solid  #282C34;
  border-radius: 50px;
}
.flipswitch-inner {
  width: 200%;
  margin-left: -100%;
  transition: margin 0.3s ease-in 0s;
}
.flipswitch-inner:before, .flipswitch-inner:after {
  float: left;
  width: 50%;
  height: 24px;
  padding: 0;
  line-height: 24px;
  font-size: 12px;
  color: white;
  font-family: Barlow, sans-serif;
  font-weight: bold;
  box-sizing: border-box;
}
.flipswitch-inner:before {
  content: "YES";
  padding-left: 12px;
  background-color: #282C34;
  color: #FFFFFF;
}
.flipswitch-inner:after {
  content: "NO";
  padding-right: 12px;
  background-color: #EBEBEB;
  color: #282c34;;
  text-align: right;
}
.flipswitch-switch {
  width: 31px;
  margin: -3.5px;
  background: #FFFFFF;
  border: 1px solid  #282C34;
  border-radius: 50px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 46px;
  transition: all 0.3s ease-in 0s;
}
.flipswitch-cb:checked + .flipswitch-label .flipswitch-inner {
  margin-left: 0;
}
.flipswitch-cb:checked + .flipswitch-label .flipswitch-switch {
  right: 0;
}

.no-matches{
    font-weight:600;
    margin:2em;
}

th{text-align:left;font-size: 22px;
    font-weight:700;}
td{padding:0.5em 2em 0.5em 0.5em; 
    font-weight:600;}

button{

  background-color: #282c34;
  color:#fff;
  font-size:14px;

  font-weight:600;
  border-radius: 50%;
  margin-right: 0.5em;
  width:32px;
  height:32px;
  cursor:pointer;
  box-shadow: 2px 2px 2px grey
}

button:hover{

  background-color: #1c1f24;
  }

 button:disabled,
button[disabled]{
  background-color: #cccccc;
  color: #666666;
  box-shadow: none
}

label{
  margin-bottom:2em;
      width: 100%;
      display: block;
      font-weight:600;
}